<!-- how to get uppercase name -->
<!-- [(ngModel)] is Angular's two-way data binding syntax. you need to import FormsModule into app.module.ts to work with NgModel -->
<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
  </div> -->

<!-- For loop it finds by itself the property of heroes in the component-->
<!-- (click) is EventBinding and "onSelect" is method which you have to define in heroes.component.ts -->
<!-- [class.selected] applikuje se classa z heroes.component.css, kdyz zvolim hrdinu -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!-- passing values - parent to child -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->